body {
  background-color: #2d6a4f;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: fuchsia;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1px;
  align-self: flex-end;
}

nav li {
  display: inline;
  margin: 0px 10px;
}