body {
  background-color: #40916C;
}

h1 {
  color: #081C15;
}

h3 {
  color: #081C15;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #2D6A4F;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1px;
  align-self: flex-end;
}

nav li {
  display: inline;
  margin: 0px 10px;
}


.about-main {
  display: flex;
  flex-wrap: wrap;}

.gaming {
  display: flex;
}

.hiking {
  display: flex;
}

.perpetual {
  display: flex;
}
 
.time-travel {
  display: flex;
}
.my-portfolio {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
}

.nav-button {
  color: #b7e4c7;
}

.nav-button:hover {
  color:#D8F3DC;
}

img{
  max-width: 35%;
  padding: 10px;
  box-sizing: border-box;
}

input {
  margin: 2px
}