body {
  background-color: #40916C;
}

img{
  max-width: 35%;
  padding: 10px;
  box-sizing: border-box;
}


h1 {
  color: #040f0b;
  margin: 0;
  font-size: 2.1rem;
}

h3 {
  color: #081C15;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #255b45;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1px;
  align-self: flex-end;
}

nav li {
  display: inline;
  margin: 0px 10px;
}


.about-main {
  display: flex;
  flex-wrap: wrap;}

.gaming, .hiking, .throwing, .perpetual, .time-travel {
  display: flex;
}


div:nth-child(odd) {
  background-color: #347859;
}

div:nth-child(even) {
  border: #081C15 1px;
  border-style: solid none;
}
 
.about, .my-portfolio {
  display: flex;
  flex-direction: column;
}


.nav-button {
  color: #b7e4c7;
}

.nav-button:hover {
  color:#D8F3DC;
}


input {
  margin: 2px
}